div.veffect {
  position:fixed;
  left:0;
  top:0;
  z-index:100;
  width:100vw;
  height:100vh;
  background-image: url( "/asset/vscanline.png" );
  background-repeat: repeat;
  opacity:0;
}
div.effect {
  position:fixed;
  left:0;
  top:0;
  z-index:100;
  width:100vw;
  height:100vh;
  background-image: url( "/asset/scanline.png" );
  background-repeat: repeat;
  opacity:0;
}